* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  overflow: hidden;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.wrapp {
  position: absolute;
  width: 100vw;
  height: 99vh;
}
.content {
  display: flex; 
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.block {
  visibility: hidden;
  transition: all 1.5s ease-out;
  opacity: 0;
  width: 400px;
  height: 200px;
  text-align: center;
  position: absolute;
  bottom: 411;
  right: 0;
}
.block:nth-child(even) {
  left: 0;
}
.visible {
  visibility: visible;
  opacity: 1;
}
.text {
  border: 1px solid rgb(5, 0, 0);
  background-color: aliceblue;
  border: 5px solid #000;
  border-radius: 10%;
  padding: 30px;
  margin-top: -15px;
}
h3 {
  margin-bottom: 10px;
}
p {
  font-family: "Bitter", serif;
}
.img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

